<h4>This example uses the <a target="new" href="http://documentcloud.github.com/backbone/docs/backbone-localstorage.html">backbone-localstorage.js</a> module written for the <a target="new" href="http://documentcloud.github.com/backbone/docs/todos.html">Todos example</a>.</h4>

<div id="app">
    Description: <input id="desc" name="desc" value="" />, Link: <input id="link" name="link" value="http://" /><br />
    <div id="links"></div>
</div>