    <div id="buttons">
        <h2>The buttons events are bounded by backbone.stickit!</h2>
        <button name='increment_button' id='increment_button' class="btn-primary">PUSH ME TO MAKE THE NUMBER GO UP</button>
        <button name='decrement_button' id='decrement_button' class="btn-inverse">PUSH ME TO MAKE THE NUMBER GO DOWN</button>
    </div>
    <div class="lead text-info text-center" style="height:90px;">
        <p id="count" style="height:90px;font-size:36px;vertical-align:middle;">{{ count }}</p>
    </div>